{% load staticfiles %}
<html>
<title>Cars:</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'csapp/css/bootstrap.css' %}" />
<script type="text/javascript" src="{% static 'csapp/js/jquery-3.4.1.js' %}"></script>
<script type="text/javascript" src="{% static 'csapp/js/bootstrap.js' %}"></script>

<style>
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif
    }
.w3-text-teal, .w3-hover-text-teal:hover {
    color: white !important;
    background-color: #152b57;
}
.active {
    color: #152b57 !important;
    background-color: white;
}
.w3-container.w3-white {
    padding-top: 10px;
}
.w3-black {
    background-color: #152b57 !important;
}
</style>